/* sticky footer stuff */
* {
    margin: 0;
}


body, html {
    height: 100%;

}


/* section headers */

#mainHeader, #connectHeader{
    color: #4aaaa5;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}


#mainHeader{
    font-size: 35px;
}

#connectHeader{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 35px;
}

/* section layout styling */

.contentArea{
    width: 960px;
    margin-left: 50%;
    transform:translate(-50%);
}

.contentArea:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.allSections{
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #dddddd;
}

#everythingButTheFooter{
    min-height: 100%;
    margin-bottom: -80px; 
}

#everythingButTheFooter:after {
    content: "";
    display: block;
    height:80px;
}

#connectSection{
    margin-top:20px;
    float:right;
    width: 270px;
}


#mainSection {
    float: left;
    width: 650px;
    padding: 10px;
    margin-top:20px;
}

/* SITE HEADER ELEMENTS */

#fullName{
    background-color: #4aaaa5;
    margin: 0px;
    padding: 25px;
    font-size: 40px;
    color: #ffffff;
    float:left;
}

/* navbar */

#navBar{ 
    position: absolute;
    right: 0%;
    top:40px;
}

.navLinks{
    color: #777777;
    text-decoration: none;
    font-size: 20px;
}

#aboutLink{
    border-right: solid 1px #dddddd;
    padding-right: 10px;
}

#portfolioLink{
    border-right: solid 1px #dddddd;
    padding-right: 10px;
    padding-left: 10px;
}

#contactLink{
    padding-left: 10px;
}

/* CONNECT SECTION ELEMENTS */

.socialImages{
    width: 60px;
}


#socialLinks{
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 40px;
} 

/* MAIN SECTION ELEMENTS */

/* about elements*/

#selfImage{
    width: 150px;
    float:left;
}

#bio{
    color: #777777;
    font-size: 20px;
}

/* portfolio elements*/

#rightPortfolioImages{
    float:right;
}



.portfolioContainers{
    position:relative;
    width: 300px;
}

.portfolioImages{
    width:300px;
}

.portfolioNames{
    position:absolute;
    bottom: 10px;
    right:0px;
    left: 0px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    background-color:#4aaaa5;
    color: #ffffff;
    font-size: 25px;
}

/* contact elements */

#contactForm{
    font-size: 25px;
    padding: 20px;
}

#nameInput, #emailInput, #contactMessage{
    width: 600px;
}

#submitButton{
    background-color:#4aaaa5;
    color:#ffffff;
    font-size: 25px;
}


/* footer styling */

#pageFooter{
    height:80px;
    background-color: #4d4b4b;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    color: #ffffff;

}

#footerText{
    margin-top: 50px;
}



/*MEDIA QUERIES*/

@media screen and (max-width: 980px) {

    .contentArea{
        width: 768px;
    }
    
    #mainSection{
        width: 400px;
    }

    #nameInput, #emailInput, #contactMessage{
        width:350px;
    }

    #rightPortfolioImages{
        float:none;
    }

    .portfolioContainers{
        width: 400px;
    }
    
    .portfolioImages{
        width:400px;
    }
}

@media screen and (max-width: 768px) {
    .contentArea{
        width: 700px;
    }
    #mainSection{
        float:none;
        width:700px;
    }
    #connectSection{
        float:none;
        width: 700px;
    }

    #nameInput, #emailInput, #contactMessage{
        width:650px;
    }

    #rightPortfolioImages{
        float:right;
        padding-right:10px;
    }

    .portfolioContainers{
        width: 300px;
    }
    
    .portfolioImages{
        width:300px;
    }
    
}

@media screen and (max-width: 640px) {
    
    .contentArea{
        width: 550px;
    }

    #mainSection{
        float:none;
        width:550px;
    }
    #connectSection{
        float:none;
        width: 550px;
    }

    #fullName{
        background-color: #4aaaa5;
        margin: 0px;
        padding: 25px;
        font-size: 40px;
        color: #ffffff;
        float:none;
        text-align: center;
    }

    #navBar{ 
        width:640px;
        position: static;
        right: 0%;
        top:0px;
        margin-top: 20px;
        margin-bottom: 20px;5
    }
    
    .navLinks{
        color: #777777;
        text-decoration: none;
        font-size: 20px;
        
    }
    
    #aboutLink{
        border-right: solid 1px #dddddd;
        padding: 10px 60px 10px 60px;

    }
    
    #portfolioLink{
        border-right: solid 1px #dddddd;
        padding: 10px 60px 10px 60px;
    }
    
    #contactLink{
        padding: 10px 60px 10px 60px;
    }
    
    #nameInput, #emailInput, #contactMessage{
        width:500px;
    }

    #rightPortfolioImages{
        float:none;
        padding-right:10px;
    }

    .portfolioContainers{
        width: 550px;
    }
    
    .portfolioImages{
        width:550px;
    }
}



